body{
    background-color: lightblue;
}

.Intro{
  border-style:solid;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
  background-color: white;
}

#ClassName{
    text-align: center;
    font-size: 45px;
}

#Name{
    text-align: center;
    font-size: 35px;
}

#DocInfo{
    text-align: center;
    font-size: 25px;
}

#Projects{
    text-align: center;
    font-size: 45px;
}

#P1{
    text-align: center;
    font-size: 35px;
}